[safe]
        directory = /Users/elliotforbes/Projects/TutorialEdge/tutorialedge-cli
[user]
        name = elliotforbes
        email = me@elliotf.dev
[alias]
        acp = !git add -A && git commit -m \"auto commit\" && git push
        co = checkout
        bb = better_branch.sh
        a = "add -p"
        b = branch
        c = commit -S
        cp = cherry-pick
        d = diff
        l = log
        m = merge
        p = push
	rebase = rebase -i origin/main
        pwl = push --force-with-lease
[help]
        autocorrect = 20
[push]
        autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
